
<footer>
        <div class="footer">
            <div class="footer-item">
                <div class="logo">
                    <h3>DigiTarang</h3>
                </div>
                <br>
                <p>We’re on a mission to build a better future where technology creates good jobs for everyone.
                </p>
            </div>
            <div class="footer-item">
                <div class="logo">
                    <h3>Useful Links</h3>
                </div>
                <br>
                <ul>
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Shop</li>
                    <li>Wishlist</li>
                </ul>
            </div>
            <div class="footer-item">
                <div class="logo">
                    <h3>Privacy Links</h3>
                </div>
                <br>
                <ul>
                    <li>Privacy Policy</li>
                    <li>Terms & Conditions</li>
                    <li>Return Policy</li>
                    <li>Exchange Policy</li>
                </ul>
            </div>
            <div class="footer-item">
                <div class="logo">
                    <h3>Contact Links</h3>
                </div>
                <br>
                <ul>
                    <li>Write to us</li>
                    <li>Follow on Instagram</li>
                    <li>Follow on Twitter</li>
                    <li>Follow on LinkedIn</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="copy">All Rights Reserved &copy;DigiTarang 2021</div>
    </footer>
