
<head>
  {% include digianalytics.html %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="" />
  <meta name="keywords" content="Website, Mobile App, Chatbots" />
  <link rel="icon" href="assets/images/favicon.png" sizes="32x32" type="image/png">
  <title>DigiTarang Solutions || Business Development Servcies Provider</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/digitarang.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/color.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/perfect-scrollbar.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/responsive.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/slick.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/navigation.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/layers.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/settings.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.css">
</head>
