
<head>
  {% include analytics.html %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="" />
  <meta name="keywords" content="Website, Mobile App, Chatbots" />
  <link rel="icon" href="assets/images/favicon.png" sizes="32x32" type="image/png">
  <title>DigiTarang Solutions || Business Development Servcies Provider</title>
  {% seo %}
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  {% feed_meta %}
  <script src="//cdn.jsdelivr.net/gh/google/code-prettify@master/loader/prettify.css"></script>
</head>
