<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
   <main>
    {% include header.html %}
     <div class="container">
        {{ content }}
     </div>
    {% include footer.html %}
 <script src="{{ site.baseurl }}/jquery.min.js"></script>
<script src="{{ site.baseurl }}/popper.min.js"></script>
<script src="{{ site.baseurl }}/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/bootstrap-select.min.js"></script>
<script src="{{ site.baseurl }}/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/scroll-up-bar.min.js"></script>
<script src="{{ site.baseurl }}/jquery.fancybox.min.js"></script>
<script src="{{ site.baseurl }}/counterup.min.js"></script>
<script src="{{ site.baseurl }}/perfect-scrollbar.min.js"></script>
<script src="{{ site.baseurl }}/slick.min.js"></script>
<script src="{{ site.baseurl }}/particles.min.js"></script>
<script src="{{ site.baseurl }}/particals.js"></script>
<script src="{{ site.baseurl }}/digitarang.js"></script>
 </main>
 </body>
</html>
